<h1>All Movies</h1>

<ul>
  <% @list_of_movies.each do |movie| %>
    <li>
      <%= movie.title %> (Directed by <%= movie.director.name %>) —
      <a href="/movies/<%= movie.id %>">Show details</a>
    </li>
  <% end %>
</ul>
